.txt-pok1 {
    color: var(--tt-1);
}

.txt-pok2 {
    color: var(--tt-2);
}

.txt-pok3 {
    color: var(--tt-3);
}

.txt-pok4 {
    color: var(--tt-4);
}

.txt-pok5 {
    color: var(--tt-5);
}

.txt-pok6 {
    color: var(--tt-6);
}

.txt-pok7 {
    color: var(--tt-7);
}